.card-wrapper{
  width: 70vw;
  min-width: 265px;
}
.card-header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h2{
    margin: 0;
  }
}
.list-wrapper{
  max-height: 500px;
  overflow: auto;
}
@media screen and (max-width:599px) {
  .card-wrapper{
    width: 90vw;
  }
}
@media screen and (max-width:650px) {
  .card-wrapper{
    width: 70vw;
  }
}
