.card-wrapper{
  width: 70vw;
  min-width: 265px;
  mat-card-content{
    form{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
.card-header-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  h2{
    margin: 0;
  }
}
@media screen and (max-width:599px) {
  .card-wrapper{
    width: 90vw;
  }
}
@media screen and (max-width:650px) {
  .card-wrapper{
    width: 70vw;
  }
}

