.general-wrapper{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  mat-card{
    width: 100%;
  }
}

.card-header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h2{
    margin: 0;
  }
}
